.text-center {
  text-align: center;
}

.text-main {
  font-size: 48px;
  color: black;
}

.text-lead {
  font-size: 20px;
  font-style: italic;
}

.text-red {
  color: red;
  font-size: 48px;
  font-weight: bold;
}

.text-medium {
  font-size: 30px;
}

.text-h {
  font-family: 'Dancing Script', cursive;
}

.text-red_2 {
  color: red;
  font-size: 20px;
}

.text-lead-footer {
  font-size: 16px;
  color: gray;
}
